<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MathJax example</title>
  <script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</script>
</head>
<body>
<p>
  When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$


</p>
$$\underline{x+y}$$

传动路线：电动机带动变速箱内的轴 Ⅰ 转动，移动轴 Ⅰ 上的双联齿轮，可使轴 Ⅱ 获得不同的两种转速。移动轴 Ⅲ上的三联齿轮，可使变速箱输出轴 Ⅲ 获得不同的六种转速。运动再经皮带轮∅176将轴 Ⅲ 的六种转速传给床头箱上的皮带轮∅200。皮带轮∅200和齿轮27固定在轴套 Ⅳ 上，并空套在主轴 Ⅵ 上。轴套 Ⅳ 的运动又分成两路传给主轴 Ⅵ。一路是图示位置，
运动经过齿轮27/63和17/58传给主轴，使主轴获得六种低速。另一路是通过将带有内齿轮的联轴器M₁向左移动，与齿轮27相啮合，同时齿轮63、17向左脱开，
使主轴直接获得较高的六种转速。 2、进给运动传动：主轴的运动通过滑移齿轮变向机构（齿轮$\frac{55}{35}$·$\frac{35}{55}$和$\frac{55}{55}$），
再经挂轮箱内的齿轮$\frac{29}{58}$及挂轮（交换齿轮）$\frac{a}{b}$·$\frac{c}{d}$将运动传入进给箱中的轴 XⅠ，轴
 XⅠ的运动又通过齿轮$\frac{27}{24}$·$\frac{30}{48}$·$\frac{26}{52}$·$\frac{21}{24}$·$\frac{27}{36}$中的任意一对将运动传到轴 XⅡ，
 再通过增倍机构，将运动传到轴 XⅢ上。改变轴 XⅢ上的滑移齿轮39的位置，即可分别与丝杠上的齿轮39或光杠上齿轮39相啮合，从而将运动传给丝杠或光杠。

 (wc＝3.6％$\sim$4.O％)


$$x^2, x_1^2, x^{(n)}_{22}, ^{16}O^{2-}_{32}, x^{y^{z^a}}, x^{y_z}$$

轴Ⅱ：$ \sqrt n_2=n\times\frac{D_1}{D_2}\times\varepsilon=1440\times\frac{100}{200}\times\ 0.98=705.6r/min $;轴Ⅲ：$n_3=n_2\times\frac{Z_1}{Z_2}=352.8r/min$;轴Ⅳ：$n_4=n_3\times\frac{Z_3}{Z_4}=11.76r/min $

When \(a \ne 0\),

$1440\times\frac{120}{240}\times\ 0.98\times\frac{26}{72}\times\frac{41}{41}\times\frac{50}{65}=196r/min$

\[\alpha+\beta=\gamma\]


</body>
</html>