input[type=checkbox]:after  {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: rgb(73, 67, 67);
    border: 2px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
}

input[type=checkbox]:checked:after  {
    content: '\2714';
    background-color:blank;
}

input[type=radio]:after  {
    content: "";
    display:block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: rgb(73, 67, 67);
    border: 2px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
    position: relative;
    left: -2px;
}

input[type=radio]:checked:after  {
    content: "";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border: 4px solid rgb(73, 67, 67);
}
